
.form-container {
    text-align: center;
    background: RGB(237, 29, 36);
    -webkit-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 10px 0px rgba(0,0,0,0.75);
}

.inputy {
    padding: 0;
    border: 0;
    color: black;
    height: 100%;
    width: 8%;
    background-color:rgba(237, 29, 36, .6);
    text-align: center;
    -webkit-appearance: none;
    font-size: 16px;
    transition: 1s;
  }
  
  .inputy:active {
    width: 14%;
    background-color: whitesmoke;
  }
  
  .inputy:focus {
    width: 14%;
    background-color: whitesmoke;
  }

  .btn {
    padding: 0;
  }
