.app-container {
height: 100vh;
}

.navy {
    display: flex;
    justify-content: center;
    flex-direction: column;
    animation: screensaver 20s infinite;
}

a:hover {
    text-decoration: none;
    background-color: rgba(237, 29, 36);
}

